.dark-container {
    background-color: #111111;
    /* position:absolute;
    top:0;
    bottom:0; */
    overflow:hidden;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E');
}

.dark-container-bg {
    background-color: #111111;
    position:absolute;
    top:0;
    bottom:0;
    overflow:hidden;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.5%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E');
}

.dark-bg {
    background-color: #050505;
}

.title {
    font-family: 'Unica One', Arial, Helvetica, sans-serif;
    text-shadow: rgb(222, 73, 73) 0.09rem 0.09rem 0rem;
    color: rgb(202, 202, 202);
    font-size: 3em;
}

.white-txt {
    color: rgb(247, 247, 247);
}

.chill-txt {
    color: rgba(247, 247, 247, 0.658);
}

.chill-bg {
    background-color: rgba(247, 247, 247, 0.658);;
}

#nav ul li {
    padding: 0.5em;
    border-bottom: 2px solid rgba(255, 255, 255, 0.486);
    padding-right: 1em;
    padding-left: 1em;
    cursor: default;
}

.victim-type {
    cursor: pointer!important;
}

.victim-type:hover {
    border-bottom: 2px solid rgb(235, 235, 235);
    color: white;
}

.muted-txt {
    color: rgba(255, 255, 255, 0.486);
}

.ghost-txt {
    color: rgba(255, 255, 255, 0.226);
}

.info-txt {
    color: rgba(255, 255, 255, 0.562);
}

.victim-picture {
    height: 20em;
    object-fit: cover;
}

.item-border {
    border-bottom: solid 2px rgba(255, 255, 255, 0.486);;
}

#filters {
    position:fixed;
    bottom:5em;
    left:4em;
    width: 13em;
}